# Check to see if you're ready to go on Thursday!
1. Run each block of code
2. Check for errors
3. When you think you're error free, flag down a teaching team member to confirm

In [3]:
# importing all my libraries

!pip install pandas

Requirement already satisfied (use --upgrade to upgrade): pandas in /Users/Hannah/anaconda/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): python-dateutil in /Users/Hannah/anaconda/lib/python2.7/site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): pytz>=2011k in /Users/Hannah/anaconda/lib/python2.7/site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.7.0 in /Users/Hannah/anaconda/lib/python2.7/site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): six>=1.5 in /Users/Hannah/anaconda/lib/python2.7/site-packages (from python-dateutil->pandas)
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
import pandas

df = pandas.DataFrame( {"firstColumn": range(5), "secondColumn": range(5)})
df.head(10)

   firstColumn  secondColumn
0            0             0
1            1             1
2            2             2
3            3             3
4            4             4

# Objectives
### Get comfortable with IPython Notebook

* How to start IPython Notebook
* How to read data into pandas
* How to do simple manipulations on pandas dataframes


## Start a notebook:
For each class, we'll be using a set of common data science libraries and tools, like the IPython notebook. You can start an IPython notebook by running

```
jupyter notebook $NAME_OF_FILE
```

In [11]:
import pandas as pd

df2 = pd.DataFrame( {"firstColumn": range(5), "secondColumn": range(5) })
df2.head(5)

   firstColumn  secondColumn
0            0             0
1            1             1
2            2             2
3            3             3
4            4             4


## Try it yourself!
Read and run the block of code below by: 
1. Clicking on it and pressing the play button above or
2. Using a short cut- (help --> keyboard shortcuts)

In [ ]:
%matplotlib inline #you want your graphs to be in the window
import matplotlib.pyplot as plt #setting an abbreviation so that you don't have to write the whole code every time
import matplotlib as mpl #keep your abbreviations relevant
import pandas as pd #most people use pd as an abbreviation for pandas

mpl.rcParams['figure.figsize'] = (15, 6)
pd.set_option('display.width', 4000)
pd.set_option('display.max_columns', 100)

# First: Read in the data
### Review Simple Commands

Practice downloading and reading into sample data

In [12]:
!pwd

/Users/Hannah/Hannah-DS4/lessons/lesson-01/code/starter-code

In [14]:
# Download and read the data (this may take more than 1 minute)
orig_data = pd.read_csv('../../assets/dataset/311-service-requests.csv', parse_dates=['Created Date'], low_memory=False)
#relative path = depends on where you are right now.  this is an example of relative path 
#absolute path = does not depend on where you are

In [16]:
orig_data.head() #will give all rows
orig_data.head(1) #will give you the first row

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,2013-10-31 02:08:41,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,2013-10-31 02:01:04,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,2013-10-31 02:00:24,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,2013-10-31 01:56:23,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,2013-10-31 01:53:44,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

In [17]:
orig_data.describe()

/Users/Hannah/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Latitude,Longitude
count,1.110690e+05,9.814300e+04,98143.000000,0.0,98143.000000,98143.000000
mean,2.651565e+07,1.004544e+06,205553.153287,NaN,40.730821,-73.926738
std,4.694558e+04,2.206087e+04,31334.677543,NaN,0.086006,0.079563
min,2.642588e+07,9.134950e+05,121152.000000,NaN,40.498949,-74.254437
25%,2.647433e+07,NaN,NaN,NaN,NaN,NaN
50%,2.651472e+07,NaN,NaN,NaN,NaN,NaN
75%,2.655684e+07,NaN,NaN,NaN,NaN,NaN
max,2.659613e+07,1.067024e+06,271485.000000,NaN,40.911792,-73.701278

In [ ]:
plt.scatter(orig_data['Longitude'], orig_data['Latitude'], marker='.', color="purple")

## Try this Example: 
Graph the number of noise complaints each hour in New York

In [ ]:
complaints = orig_data[['Created Date', 'Complaint Type']]
noise_complaints = complaints[complaints['Complaint Type'] == 'Noise - Street/Sidewalk']
noise_complaints.set_index('Created Date').sort_index().resample('H', how=len).plot()

# Second: Using IPython
### Review Python Basics

Test your skills by answering the following questions:

#### Question 1.  Divide 10 by 20 and set the result to a variable named "A"

In [ ]:
### Insert your code here and then uncomment | print A | when you are ready to test it. 

#print(A)

In [ ]:
#### If you did not get a float (decimals), alter your equation to get the desired result (0.5)

#### Question 2. Create a function called division that will divide any two numbers and prints the result (with decimals). 
Call your function. Confirm that the results are as expected.

In [ ]:
# add your function here

#### Question 3. Using .split() split my string into separate words in a variable named words

In [ ]:
my_string = "the cow jumped over the moon"
# put your code here it should return ['the', 'cow', 'jumped', 'over', 'the', 'moon']

# print(words)

#### Question 4. How many words are in my_string?

#### Question 5. Use a list comprehension to find the length of each word

result: [3, 3, 6, 4, 3, 4]

#### Question 6. Put the words back together in a variable called sentence using .join()
result:
the cow jumped over the moon

#### Bonus: Add a "||" between each word
result: 
the||cow||jumped||over||the||moon